<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Display Page</title>
    
</head>
<body>
    <a href="http://localhost:8080/"><button class="logout-button">Logout</button></a>
    <div class="container">
        <h1>Good Morning!</h1>
        <h2>These are your tasks for today</h2>
        <ul>
            <li>Training Module 1</li>
            <li>Training Module 2</li>
            <li>Training Module 3</li>
        </ul>
    </div>
</body>
</html>
